.videos {
  width: 70%;
  margin: 100px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}
.videos h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 20px;
}
.video-container {
  width: 100%;
  margin-bottom: -5px;
}
/* 
MEDIA QUERY
*/
@media screen and (max-width: 768px) {
  .videos {
    width: 100%;
    padding: 15px;
  }
}
@media screen and (max-width: 570px) {
  .videos {
    width: 100%;
    padding: 0px;
  }
  .videos h1 {
    font-size: 30px;
    padding-left: 20px;
  }
}
