.about {
    text-align: center;
    margin: 100px 0;
}
.about > div {
    width: 600px;
    margin: 20px auto;
    text-align: left;
    font-size: large;
    line-height: 25px;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: darkgoldenrod;
    padding: 5px 10px;
    border-radius: 4px;
}
/* 
===============
MEDIA QUERRY
===============
*/
@media (max-width: 570px) {
.about {
    margin-top: 50px;
}
.about > div {
    width: 300px;
}
}