@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background: whitesmoke; */
  font-family: "Poppins";
}

.reveal {
  opacity: 0;
  transform: translateY(150px) scale(0);
  transition: all 2s ease-in-out;
}
.active {
  opacity: 1;
  transform: translateY(0px) scale(1);
}

li {
  list-style: disc;
  color: black;
}
::-webkit-scrollbar {
  width: 5px;
  background: lightblue;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
