.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  gap: 30px;
  margin-bottom: 50px;
}
.single-project {
  box-shadow: 3px 5px 8px black;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s linear;
  text-align: center;
  padding-bottom: 10px;
}
.single-project:hover {
  transform: translateY(-5px);
}
.single-project img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px black;
}
.single-project h3 {
  color: darkslategray;
  letter-spacing: 1px;
  text-align: center;
  width: 300px;
}

/* 
MEDIA QUERY
*/
@media (max-width: 768px) {
  .projects {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .projects {
    width: 100%;
  }
}
